* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.conteiner {
    width: 1110px;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.top-line-wrapper {
    background: #EFEFEF;
}
.top-line {
    text-align: right;
    padding-top: 17px;
    padding-bottom: 15px;
    a {
        line-height: 16px;
        text-decoration: none;
        color: #333333;
        margin-left: 30px;
    }
    a:hover {
        color: #c12c11;
    }
}
.logo-wrapper {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
}
.logo-call {
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo-call_tel {
    float: right;
    padding-top: 20px;
    .phone {
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: #000000;
    }
    .phone:hover {
        color: #c12c11;
    }
    .phone-btn {
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        background: #FFFFFF;
        border: 2px solid #F13C6E;
        border-radius: 40px;
        padding: 10px 27px;
        margin-left: 40px;
    }
    .phone-btn:hover {
        background: #f5f1f1;
        cursor: pointer;
    }
    .phone-btn:active {
        background: #f2ecec;
    }
}
.menu-wrapper {
    background: #FFFFFF;
}
.menu {
    text-align: center;
    padding-top: 33px;
    padding-bottom: 33px;
    a {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin: 0 20px;
    }
    a:hover {
        color: #c12c11;
    }
}
.banner-wrapper {
    background: #F13C6E;
}
.banner {
    padding-top: 70px;
    // padding-bottom: 65px;
    .banner-left {
        width: 350px;
    }
    .banner-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        padding-top: 130px;
        padding-bottom: 43px;
    }
    .banner-text {
        color: #FFFFFF;
        padding-bottom: 50px;
    }
    .banner-btn {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        text-decoration: none;
        color: #FFFFFF;
        background: #F13C6E;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        display: inline-block;
        padding: 10px 44px;
    }
    .banner-btn:hover {
        border-color: #66dcdc;
        color: #66dcdc;
    }
    .banner-img {
        float: right;
        margin-top: -52px;
        margin-right: 180px;
    }
}
.special-wrapper {
    background: #EFEFEF;
}
.special {
    padding-top: 80px;
    padding-bottom: 55px;
    .offers {
        font-size: 0;
    }
    .special-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 38px;
    }
    .offers-article {
        background: #FFFFFF;
        width: 255px;
        display: inline-block;
        text-align: center;
        padding: 5px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .offers-article-img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .offers-article-text {
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #333333;
        margin-bottom: 20px;
    }
    .offers-article-price {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.05em;
        color: #000000;
        margin-bottom: 20px;
    }
    .offers-article-btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        border-style: none;
        background: #F13C6E;
        border-radius: 30px;
        padding: 7px 39px;
        margin-bottom: 20px;
    }
    .offers-article-btn:hover {
        background: #df3767;
        cursor: pointer;
    }
    .offers-article-btn:active {
        background: #F13C6E;
    }
    .mr-0 {
        margin-right: 0;
    }
}
